In [1]:
#흥행성적 -> 외국, 한국, 통합

In [38]:
import platform

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from matplotlib import font_manager, rc

In [39]:
df_all = pd.read_csv('data/kobis_all_movie.csv',  encoding='ANSI')
df_all.head(10)

,순번,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,영화구분
0,1,명량,김한민,(주)빅스톤픽쳐스,NaN,씨제이이앤엠(주),2014-07-30,개봉영화,장편,한국,"1,587",1.360000e+11,"17,613,682",3.312123e+10,"4,163,666",사극,15세이상관람가,상업영화
1,2,아바타,제임스 카메론,이십세기폭스필름코퍼레이션,"주식회사 해리슨앤컴퍼니,이십세기폭스코리아(주)","주식회사 해리슨앤컴퍼니,이십세기폭스코리아(주)",2009-12-17,개봉영화,장편,미국,912,1.280000e+11,"13,624,328",4.054752e+10,"3,993,374",SF,12세이상관람가,다양성영화
2,3,왕의 남자,이준익,"(주)씨네월드,(주)이글픽쳐스",NaN,(주)시네마서비스,2005-12-29,개봉영화,장편,한국,0,0.000000e+00,"12,302,831",0.000000e+00,"3,660,842",드라마,15세이상관람가,상업영화
3,4,괴물,봉준호,영화사청어람(주),NaN,(주)쇼박스,2006-07-27,개봉영화,장편,한국,0,0.000000e+00,"13,019,740",0.000000e+00,"3,571,254",SF,12세관람가,상업영화
4,5,태극기 휘날리며,강제규,강제규필름,NaN,(주)쇼박스,2004-02-05,개봉영화,장편,한국,0,0.000000e+00,"11,746,135",0.000000e+00,"3,509,563",전쟁,15세관람가,상업영화
5,6,도둑들,최동훈,(주)케이퍼필름,NaN,(주)쇼박스,2012-07-25,개봉영화,장편,한국,"1,072",9.366557e+10,"12,983,330",2.608943e+10,"3,468,906",액션,15세이상관람가,상업영화
6,7,"광해, 왕이 된 남자",추창민,"리얼라이즈픽쳐스(주),씨제이이앤엠(주)",NaN,씨제이이앤엠(주),2012-09-13,개봉영화,장편,한국,810,8.890021e+10,"12,319,542",2.519280e+10,"3,355,700",사극,15세이상관람가,상업영화
7,8,신과함께-죄와 벌,김용화,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",NaN,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,개봉영화,장편,한국,"1,912",1.160000e+11,"14,410,931",2.753083e+10,"3,346,172",판타지,12세이상관람가,상업영화
8,9,베테랑,류승완,"(주)외유내강,(주)필름케이",NaN,씨제이이앤엠(주),2015-08-05,개봉영화,장편,한국,"1,064",1.050000e+11,"13,395,400",2.676637e+10,"3,290,366",액션,15세이상관람가,상업영화
9,10,실미도,강우석,(주)시네마서비스,NaN,(주)시네마서비스,2003-12-24,개봉영화,장편,한국,0,0.000000e+00,"11,081,000",0.000000e+00,"3,264,000",전쟁,15세관람가,상업영화

In [51]:
df_fgn = pd.read_csv('data/kobis_foreign_movie.csv',  encoding='ANSI')
df_fgn.head(10)

,순번,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,영화구분
0,1,아바타,제임스 카메론,이십세기폭스필름코퍼레이션,"주식회사 해리슨앤컴퍼니,이십세기폭스코리아(주)","주식회사 해리슨앤컴퍼니,이십세기폭스코리아(주)",2009-12-17,개봉영화,장편,미국,912,1.284471e+11,"13,624,328",4.054752e+10,"3,993,374",SF,12세이상관람가,다양성영화
1,2,인터스텔라,크리스토퍼 놀란,NaN,워너브러더스 코리아(주),워너브러더스 코리아(주),2014-11-06,개봉영화,장편,미국,"1,342",8.227433e+10,"10,273,803",2.550035e+10,"3,079,036",SF,12세이상관람가,상업영화
2,3,어벤져스: 인피니티 워,"안소니 루소,조 루소",NaN,월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아 유한책임회사,2018-04-25,개봉영화,장편,미국,"2,553",9.991966e+10,"11,211,980",2.863131e+10,"3,008,821",액션,12세이상관람가,상업영화
3,4,겨울왕국,"크리스 벅,제니퍼 리",NaN,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주),소니픽쳐스릴리징월트디즈니스튜디오스코리아(주),2014-01-16,개봉영화,장편,미국,"1,010",8.246150e+10,"10,296,101",2.584724e+10,"3,003,446",애니메이션,전체관람가,상업영화
4,5,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),2015-04-23,개봉영화,장편,미국,"1,843",8.858259e+10,"10,494,499",2.500191e+10,"2,823,388",액션,12세이상관람가,상업영화
5,6,아이언맨 3,쉐인 블랙,파라마운트 픽쳐스,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주),소니픽쳐스릴리징월트디즈니스튜디오스코리아(주),2013-04-25,개봉영화,장편,미국,"1,381",7.080619e+10,"9,001,309",2.166894e+10,"2,595,269",액션,12세이상관람가,상업영화
6,7,캡틴 아메리카: 시빌 워,"안소니 루소,조 루소",NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),2016-04-27,개봉영화,장편,미국,"1,991",7.267211e+10,"8,677,249",2.124812e+10,"2,400,069",액션,12세이상관람가,상업영화
7,8,미션임파서블:고스트프로토콜,브래드 버드,파라마운트 픽쳐스,씨제이이앤엠(주),씨제이이앤엠(주),2011-12-15,개봉영화,장편,미국,"1,038",5.779585e+10,"7,575,899",1.871928e+10,"2,347,164",액션,15세이상관람가,상업영화
8,9,트랜스포머,마이클 베이,"드림웍스픽쳐스,드림웍스 SKG,파라마운트 픽쳐스",씨제이엔터테인먼트,씨제이엔터테인먼트,2007-06-28,개봉영화,장편,미국,0,0.000000e+00,"7,440,531",0.000000e+00,"2,300,866",SF,12세이상관람가,상업영화
9,10,트랜스포머: 패자의 역습,마이클 베이,"드림웍스 SKG,파라마운트 픽쳐스",씨제이엔터테인먼트,씨제이엔터테인먼트,2009-06-24,개봉영화,장편,미국,"1,129",5.147853e+10,"7,505,700",1.608303e+10,"2,200,557",SF,12세이상관람가,상업영화

In [52]:
df_kor = pd.read_csv('data/kobis_korean_movie.csv',  encoding='ANSI')
df_kor.head(10)

,순번,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,영화구분
0,1,명량,김한민,(주)빅스톤픽쳐스,NaN,씨제이이앤엠(주),2014-07-30,개봉영화,장편,한국,"1,587",1.357484e+11,"17,613,682",3.312123e+10,"4,163,666",사극,15세이상관람가,상업영화
1,2,왕의 남자,이준익,"(주)씨네월드,(주)이글픽쳐스",NaN,(주)시네마서비스,2005-12-29,개봉영화,장편,한국,0,0.000000e+00,"12,302,831",0.000000e+00,"3,660,842",드라마,15세이상관람가,상업영화
2,3,괴물,봉준호,영화사청어람(주),NaN,(주)쇼박스,2006-07-27,개봉영화,장편,한국,0,0.000000e+00,"13,019,740",0.000000e+00,"3,571,254",SF,12세관람가,상업영화
3,4,태극기 휘날리며,강제규,강제규필름,NaN,(주)쇼박스,2004-02-05,개봉영화,장편,한국,0,0.000000e+00,"11,746,135",0.000000e+00,"3,509,563",전쟁,15세관람가,상업영화
4,5,도둑들,최동훈,(주)케이퍼필름,NaN,(주)쇼박스,2012-07-25,개봉영화,장편,한국,"1,072",9.366557e+10,"12,983,330",2.608943e+10,"3,468,906",액션,15세이상관람가,상업영화
5,6,"광해, 왕이 된 남자",추창민,"리얼라이즈픽쳐스(주),씨제이이앤엠(주)",NaN,씨제이이앤엠(주),2012-09-13,개봉영화,장편,한국,810,8.890021e+10,"12,319,542",2.519280e+10,"3,355,700",사극,15세이상관람가,상업영화
6,7,신과함께-죄와 벌,김용화,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",NaN,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,개봉영화,장편,한국,"1,912",1.156996e+11,"14,410,931",2.753083e+10,"3,346,172",판타지,12세이상관람가,상업영화
7,8,베테랑,류승완,"(주)외유내강,(주)필름케이",NaN,씨제이이앤엠(주),2015-08-05,개봉영화,장편,한국,"1,064",1.050248e+11,"13,395,400",2.676637e+10,"3,290,366",액션,15세이상관람가,상업영화
8,9,실미도,강우석,(주)시네마서비스,NaN,(주)시네마서비스,2003-12-24,개봉영화,장편,한국,0,0.000000e+00,"11,081,000",0.000000e+00,"3,264,000",전쟁,15세관람가,상업영화
9,10,국제시장,윤제균,"(주)제이케이필름,씨제이이앤엠(주)",NaN,씨제이이앤엠(주),2014-12-17,개봉영화,장편,한국,966,1.108280e+11,"14,245,998",2.584252e+10,"3,233,946",드라마,12세이상관람가,상업영화

In [53]:
df_all.rename(columns={'서울관객수':'관객수'}, inplace=True)
df_all = df_all.drop(columns={'감독','제작사','수입사','배급사','개봉일','영화유형','영화형태','국적','전국스크린수','전국매출액','전국관객수','서울매출액','장르','등급','영화구분'})
df_all.set_index('순번', inplace=True)
df_all.head()

KeyError: "labels ['제작사' '영화유형' '감독' '서울매출액' '전국관객수' '개봉일' '배급사' '전국매출액' '수입사' '영화형태' '영화구분'\n '등급' '전국스크린수' '국적' '장르'] not contained in axis"

In [54]:
df_fgn.rename(columns={'서울관객수':'관객수'}, inplace=True)
df_fgn = df_fgn.drop(columns={'감독','제작사','수입사','배급사','개봉일','영화유형','영화형태','국적','전국스크린수','전국매출액','전국관객수','서울매출액','장르','등급','영화구분'})
df_fgn.set_index('순번', inplace=True)
df_fgn.head()

                 영화명         관객수
순번
1                아바타  3,993,374
2              인터스텔라  3,079,036
3       어벤져스: 인피니티 워  3,008,821
4               겨울왕국  3,003,446
5   어벤져스: 에이지 오브 울트론  2,823,388

In [55]:
df_kor.rename(columns={'서울관객수':'관객수'}, inplace=True)
df_kor = df_kor.drop(columns={'감독','제작사','수입사','배급사','개봉일','영화유형','영화형태','국적','전국스크린수','전국매출액','전국관객수','서울매출액','장르','등급','영화구분'})
df_kor.set_index('순번', inplace=True)
df_kor.head()

         영화명         관객수
순번
1         명량  4,163,666
2      왕의 남자  3,660,842
3         괴물  3,571,254
4   태극기 휘날리며  3,509,563
5        도둑들  3,468,906

In [57]:
df_all = df_all[:500]

In [59]:
df_fgn = df_fgn[:500]

In [60]:
df_kor = df_kor[:500]

In [61]:
df_kor

                  영화명         관객수
순번
1                  명량  4,163,666
2               왕의 남자  3,660,842
3                  괴물  3,571,254
4            태극기 휘날리며  3,509,563
5                 도둑들  3,468,906
6         광해, 왕이 된 남자  3,355,700
7           신과함께-죄와 벌  3,346,172
8                 베테랑  3,290,366
9                 실미도  3,264,000
10               국제시장  3,233,946
11                 암살  3,155,960
12            7번방의 선물  3,070,053
13                변호인  2,978,688
14                해운대  2,791,508
15                부산행  2,754,686
16              택시운전사  2,729,932
17                 친구  2,678,846
18          신과함께-인과 연  2,636,378
19                 관상  2,561,744
20               설국열차  2,550,437
21         공동경비구역 JSA  2,513,540
22                 쉬리  2,448,399
23           웰컴 투 동막골  2,435,088
24              과속스캔들  2,390,408
25               검사외전  2,219,587
26               국가대표  2,213,346
27                쌍화점  2,175,717
28                베를린  2,118,794
29                 디워  2,098,438
30                 타짜  2,091,058
...               ...         ...
471          속 별들의 고향    298,125
472              넘버 3    297,617
473            심장이 뛴다    293,832
474                하루    293,530
475              낭만자객    292,190
476         처녀들의 저녁식사    290,502
477              박하사탕    290,352
478                간신    289,236
479           파송송 계란탁    289,039
480                 령    288,631
481          자유부인 '81    287,929
482         이장호의 외인구단    287,712
483                외출    287,650
484               부라더    287,039
485           슬로우 비디오    286,952
486            만남의 광장    286,843
487              정글쥬스    286,270
488              장수상회    284,742
489            GP 506    284,443
490                해빙    284,100
491               차형사    283,739
492           불어라 봄바람    281,911
493           O양의 아파트    281,726
494   나도 아내가 있었으면 좋겠다    280,852
495           오! 해피데이    280,523
496               빅매치    280,152
497                바보    279,453
498           예의없는 것들    278,757
499            국화꽃 향기    278,464
500               깡철이    274,966

[500 rows x 2 columns]

In [62]:
df_all.to_csv('data/semi_project_all_movie.csv', sep=',', encoding='euc-kr')

In [63]:
df_kor.to_csv('data/semi_project_kor_movie.csv', sep=',', encoding='euc-kr')

In [64]:
df_fgn.to_csv('data/semi_project_fgn_movie.csv', sep=',', encoding='euc-kr')